In [3]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [23]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

In [4]:
practice0 = pd.DataFrame({"이름": ["홍길동", "김길동"], "나이": [100, 200]})

In [5]:
practice0

    이름   나이
0  홍길동  100
1  김길동  200

In [24]:
practice = pd.DataFrame({"날짜":[], "운동":[], "양":[]})
practice

Empty DataFrame
Columns: [날짜, 운동, 양]
Index: []

In [35]:
# loc[행인덱스] => 행인덱스에 한 행을 추가해라.
practice.loc[0] = ['19-3-1', '달리기', 1.]

In [36]:
practice.loc[1] = ['19-3-2', '걷기', 1.] 
practice.loc[2] = ['19-3-2', '달리기', 1.] 
practice.loc[3] = ['19-3-2', '계단오르기', 1.] 
practice

       날짜     운동    양
0  19-3-1    달리기  1.0
4  19-3-3     걷기  1.5
5  19-3-3    달리기  1.0
1  19-3-2     걷기  1.0
2  19-3-2    달리기  1.0
3  19-3-2  계단오르기  1.0

In [37]:
practice.loc[4] = ['19-3-3', '걷기', 1.5] 
practice.loc[5] = ['19-3-3', '달리기', 1.] 
practice

       날짜     운동    양
0  19-3-1    달리기  1.0
4  19-3-3     걷기  1.5
5  19-3-3    달리기  1.0
1  19-3-2     걷기  1.0
2  19-3-2    달리기  1.0
3  19-3-2  계단오르기  1.0

In [11]:
#practice.to_csv('/kaggle/input/practice/practice2.csv', encoding='utf-8')
#kaggle에서는 write가 안됨.

In [38]:
practice2 = pd.read_csv('../data/practice.csv' , encoding='utf-8')
practice2

   Unnamed: 0      날짜     운동    양
0           0  19-3-1    달리기  1.0
1           1  19-3-2     걷기  1.0
2           2  19-3-2    달리기  1.0
3           3  19-3-2  계단오르기  1.0
4           4  19-3-3     걷기  1.5
5           5  19-3-3    달리기  1.0

In [34]:
practice2.loc[6] = ['19-3-4', '걷기', 1.5] 
practice2.loc[7] = ['19-3-5', '달리기', 1.] 
practice2.loc[8] = ['19-3-6', '걷기', 2.5] 
practice2.loc[9] = ['19-3-6', '달리기', 0.5] 
practice2

ValueError: cannot set a row with mismatched columns

In [33]:
practice2.pivot_table(index='운동') #avg(평균)기준!

       Unnamed: 0     양
운동
걷기       2.500000  1.25
계단오르기    3.000000  1.00
달리기      2.333333  1.00

In [16]:
practice2.pivot_table(index='운동', aggfunc=np.sum)

NameError: name 'practice2' is not defined

In [17]:
practice2.pivot_table(index='운동', aggfunc=[np.sum, len])

NameError: name 'practice2' is not defined

In [18]:
practice2.pivot_table(index='운동', aggfunc=[np.sum, np.average, len])

NameError: name 'practice2' is not defined

In [19]:
prac_pivot = practice2.pivot('날짜','운동','양')
#              인덱스(행), 종류(열), 테이블에 채워지는 값(양)
prac_pivot

NameError: name 'practice2' is not defined

In [20]:
# NaN : 행과 열에 적합한 값이 없다 => 삭제, 수치로 변환
# 수치변환 : 평균, 0, 기본값으로 변환

In [21]:
prac_pivot.fillna(0)
prac_pivot

NameError: name 'prac_pivot' is not defined

In [22]:
prac_pivot.fillna(0, inplace=True) #비파괴함수 => 파괴함수 (변경된 부분이 원본을 반영시킴)
prac_pivot

NameError: name 'prac_pivot' is not defined

In [23]:
type(prac_pivot)

pandas.core.frame.DataFrame

In [1]:
not_excercise =  pd.read_excel('../data/practice2.csv' , encoding='utf')

NameError: name 'pd' is not defined

In [ ]:
!pip install xlrd

WARNING: Retrying (Retry(total=4, connect=None, read=None, redirect=None, status=None)) after connection broken by 'NewConnectionError('<pip._vendor.urllib3.connection.HTTPSConnection object at 0x7fe89e333b50>: Failed to establish a new connection: [Errno -3] Temporary failure in name resolution')': /simple/xlrd/